<html dir="rtl">
   <head>
        <title>امانة جدة</title>
        <link rel="stylesheet" href="resources\css\bootstrap.min.css" type="text/css" />
        <link href="resources\css\styles.css" rel="stylesheet" type="text/css">
<script src="resources\js\jQuery.js"></script>
		<script src="resources\js\jQuery-table.js"></script>
    <script src="resources\js\scripts.js"></script>
		<script src="https:/kit.fontawesome.com/868b4e0b54.js" crossorigin="anonymous"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript">			
			function toggleMenu() {
  				var widthVar = document.getElementById("mySidenav").style.width;
				if(widthVar=="300px")
{
	document.getElementById("mySidenav").style.width = "0";
}
else{
	document.getElementById("mySidenav").style.width = "300";
}
}

 function toggleMenuApps(){
 	 var widthVar = document.getElementById("mySidenavApps").style.height;
if(widthVar=="200px")
{
	document.getElementById("mySidenavApps").style.height = "0";
}
else{
	document.getElementById("mySidenavApps").style.height = "200";
}
		
 }

$(document).ready(function() {
    var table = $('#myTable').DataTable();
 
    $('#example tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
 
    $('#button').click( function () {
        table.row('.selected').remove().draw( false );
    } );
} );
</script>

</head>
    <body class="indexBody">

    <!-- nav -->
         <div id="mySidenav" class="sidenav">
 <a href="javascript:void(0)" class="closeLink" onclick="toggleMenu()">&times;</a>
  <div class="navUserBlock" >
  	<a href="#" class="userIcons" style="margin-top:20px;">
  <img src="resources/images/logout.png"/>
</a> 

 <img style="margin-top:20px;" src="resources/images/avatar_15.png" class="avatar2" onclick="toggleMenu()">
<a href="#" style="margin-top:20px;">
  <img src="resources/images/settings.png" class="userIcons"/>
</a> 
<br/>
<p id="mainTitle" style="margin-top:7px;">محمد الحربي</p>
  </div>



<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          القائمة الرئيسية
          <i class="fas fa-sort-down" style="margin-right:5px;float:left;"></i>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" style="background-color:White;">
        <a href="#" class="navigationLink"> خطط التشغيل </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          ادارة العقود
          <i class="fas fa-sort-down" style="margin-right:5px;float:left;"></i>
        </button>
       
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body" style="background-color:White;">
        <a href="#" class="navigationLink"> خطط التشغيل </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          ادارة العمالة
          <i class="fas fa-sort-down" style="margin-right:5px;float:left;"></i>
        </button>
       
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body" style="background-color:White;">
        <a href="#" class="navigationLink"> خطط التشغيل </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          ادارة المعدات
          <i class="fas fa-sort-down" style="margin-right:5px;float:left;"></i>
        </button>
       
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body" style="background-color:White;">
        <a href="#" class="navigationLink"> خطط التشغيل </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          ادارة المسعكرات
          <i class="fas fa-sort-down" style="margin-right:5px;float:left;"></i>
        </button>
       
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body" style="background-color:White;">
        <a href="#" class="navigationLink"> خطط التشغيل </a>
      </div>
    </div>
  </div>
 
  
 
 
 
</div>



</div>

  <!-- applications navigation -->
         <div id="mySidenavApps" class="sidenav2">
 <a href="javascript:void(0)" class="closeLink" onclick="toggleMenuApps()">&times;</a>
  <div id="descLink" >
  <img src="resources\images\systems\desc.png"/>
  <p class="systemTitle2">نظام دعم اتخاذ القرار</p>
  </div>

  <div id="descLink2" >
  <img src="resources\images\systems\monitoring.png"/>
  <p class="systemTitle2">نظام النرقابة</p>
  </div>

  <div id="descLink3" >
  <img src="resources\images\systems\maps.png"/>
  <p class="systemTitle2">الخرائط النشطة</p>
  </div>


  <div id="descLink6" >
  <img src="resources\images\systems\reports.png"/>
  <p class="systemTitle2">ادارة التقارير</p>
  </div>

  <div id="descLink4" >
  <img src="resources\images\systems\measu.png"/>
  <p class="systemTitle2">مؤشرات القياس</p>
  </div>

  <div id="descLink5" >
  <img src="resources\images\systems\series.png"/>
  <p class="systemTitle2">نظام سلسلة الموافقات</p>
  </div>


  <div id="descLink7" >
  <img src="resources\images\systems\finger.png"/>
  <p class="systemTitle2">نظام البصمة</p>
  </div>

</div>


<!-- header -->

<nav class="mainHeader">
<div class="iconsContainer">
   <a href="#" class="notification">
  <img src="resources/images/noti.png"/>
  <span class="badge">3</span>
</a> 
<a href="#" class="notification">
  <img src="resources/images/message.png"/>
  <span class="badge">3</span>
</a> 
<a href="#" class="notification">
  <img src="resources/images/lang.png"/>
</a> 
 </div>
  
  <div id="logoBG">
  <img src="resources/images/Rectangle1.png"/>
  </div>
  <div id="logo">
  <img src="resources/images/logo.png"/>
  </div>
  <div id="systemnamebg_0">
  	<p class="systemTitle"> امانة جدة </p>
  </div>
  <div id="systemnamebg" onclick="toggleMenuApps()">
<p class="systemTitle2">نظام دعم اتخاذ القرار</p>
  </div>
  <div id="navIcon" onclick="toggleMenu()"/>
</nav>
<div id="mainPagesTitle">
	<h4 id="mainTitle">مؤشرات الاداء</h4>
</div>

<!-- center block -->
 <div id="centerblock" >
 <div class="container-fluid">
 <div class="row">
 	<div class="card chartBlock" >
  <div class="card-body"><p class="label"> مؤشر كفاءة المردم </p>
    <!-- start code -->
    <div class="pie7">
  <div class="pie-overlay">
    90%
  </div>
</div>
    <!-- end code --><p class="label2"> يومي | كل العقزد </p></div>

</div>
<div class="card chartBlock" >
  <div class="card-body"><p class="label"> مؤشر كفاءة المردم </p>
    <!-- start code -->
    <div class="pie6">
  <div class="pie-overlay">
    90%
  </div>
</div>
    <!-- end code --><p class="label2"> يومي | كل العقزد </p></div>
</div>
<div class="card chartBlock">
  <div class="card-body"><p class="label"> مؤشر كفاءة المردم </p>
    <!-- start code -->
    <div class="pie5">
  <div class="pie-overlay">
    90%
  </div>
</div>
    <!-- end code --><p class="label2"> يومي | كل العقزد </p></div>
</div>
<div class="card chartBlock">
  <div class="card-body"><p class="label"> مؤشر كفاءة المردم </p>
    <!-- start code -->
    <div class="pie4">
  <div class="pie-overlay">
    90%
  </div>
</div>
    <!-- end code --><p class="label2"> يومي | كل العقزد </p></div>
</div>
 </div>

 <div class="row">
  <div class="card chartBlock" >
  <div class="card-body">
  <p class="label"> مؤشر كفاءة المردم </p>
    <!-- start code -->
    <div class="pie">
  <div class="pie-overlay">
    90%
  </div>
</div>
    <!-- end code -->
  <p class="label2"> يومي | كل العقزد </p></div>
</div>
<div class="card chartBlock" >
  <div class="card-body"><p class="label"> مؤشر كفاءة المردم </p>
    <!-- start code -->
    <div class="pie1">
  <div class="pie-overlay">
    90%
  </div>
</div>
    <!-- end code --><p class="label2"> يومي | كل العقزد </p></div>
</div>
<div class="card chartBlock">
  <div class="card-body"><p class="label"> مؤشر كفاءة المردم </p>
    <!-- start code -->
    <div class="pie3">
  <div class="pie-overlay">
    90%
  </div>
</div>
    <!-- end code --><p class="label2"> يومي | كل العقزد </p></div>
</div>
<div class="card chartBlock">
  <div class="card-body"><p class="label"> مؤشر كفاءة المردم </p>
    <!-- start code -->
    <div class="pie2">
  <div class="pie-overlay">
    90%
  </div>
</div>
    <!-- end code --><p class="label2"> يومي | كل العقزد </p></div>
</div>
 </div>


 </div>
    </body>
</html>