<html dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>شلتوت</title>
<link rel="stylesheet" href="resources\css\bootstrap.min.css"
	type="text/css" />
<link href="resources\css\styles.css" rel="stylesheet" type="text/css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="indexBody">
	<!-- header -->
	<nav class="mainHeader">
		<div class="leftblock">
				<p class="label1" style="color: white;">اسم المستخدم</p>
				<p class="label1" style="color: white;">اسم المستخدم</p>			
		</div>
		<div id="logoBG">
			<img src="resources/images/Rectangle1.png" />
		</div>
		<div id="logo">
			<img src="resources/images/logo.png" />
		</div>
		<div id="systemnamebg_0">
			<p class="systemTitle">دوق واحكم بنفسك</p>
		</div>

	</nav>
	<div id="centerblock">
		<div class="container-fluid">
		<form action="#" th:action="@{/ClientsHomePage}" method="post">
			<div class="row">		
				<div class="card chartBlock">
					<input type="image" src="resources/images/TakeAway.jpg" href="@{'/ClientsHomePage/' + ${1}}"
						alt="Submit">
					<p class="label2">تيك اواي</p>
				</div>
				<div class="card chartBlock">
					<input type="image" src="resources/images/delivery.jpg"
						alt="Submit">
					<p class="label2">ديليفري</p>
				</div>
				<div class="card chartBlock">
					<input type="image" src="resources/images/report.jpg" alt="Submit">
					<p class="label2">الجرد والتقارير</p>
				</div>
				<div class="card chartBlock">
					<input type="image" src="resources/images/store.jpg" alt="Submit">
					<p class="label2">منظومه المخزن</p>
				</div>
			</div>
			</form>
			<div class="row">


				<div class="card chartBlock">
					<input type="image" src="resources/images/hole.jpg" alt="Submit">
					<p class="label2">الصاله</p>
				</div>

			</div>
		</div>
</body>
</html>