<html >
    <head>
        <title>امانة جدة</title>
        <link rel="stylesheet" href="resources\css\bootstrap.min.css" type="text/css" />
        <link href="resources\css\styles.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    
    $(document).ready(function() {
  setTimeout(function() {
    $("#signInButton").trigger('click');
  }, 3000);
});
  </script>
  </head>
  <body class="loader">

  <form action="index.html" style="display:none;">


<button id="signInButton"  type="submit" class="btn btn-primary">تسجيل دخول</button>
</form>

  	</body>

  </html> 