<html dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>امانة جدة</title>
<link rel="stylesheet" href="resources\css\bootstrap.min.css"
	type="text/css" />
<link href="resources\css\styles.css" rel="stylesheet" type="text/css">
<script src="resources\js\jQuery.js"></script>
<script src="resources\js\jQuery-table.js"></script>
<script src="resources\js\scripts.js"></script>
<script src="https:/kit.fontawesome.com/868b4e0b54.js"
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
	$(document).ready(function() {
		$('.btn').click(function() {
			var catId = $(this).attr("id");
			
			$.ajax({
				type : 'GET',
				url : '/getMenuByCategoryId/' + catId,
				success : function(result) {
					var res = JSON.parse(result);
					var s = '';
					for (var i = 0; i < res.length; i++) {
						s += " <button data-toggle='modal' data-target='#exampleModalLong' type='button' " +
						" class='btn descitionBTN'>"
																		+ res[i].name
																		+ " </button> </br> ";
					}

					$('#menuDiv').html(s);

				}

			});

		});
	});
	$(document).ready(function() {
		$('#okModal').click(function() {
			alert("test");

		});
	});
</script>
</head>
<body class="indexBody">


	<!-- header -->

	<nav class="mainHeader">

		<div id="logoBG">
			<img src="resources/images/Rectangle1.png" />
		</div>
		<div id="logo">
			<img src="resources/images/logo.png" />
		</div>
		<div id="systemnamebg_0">
			<p class="systemTitle">دوق واحكم بنفسك</p>
		</div>

	</nav>


	<!-- center block -->
	<input type="hidden" id="catId" />
	<input type="hidden" id="menuId" />
	<input type="hidden" id="sizeId" />

	<input type="hidden" id="catId" />
	<input type="hidden" id="menuId" />
	<input type="hidden" id="sizeId" />

	<div id="centerblock">

		<div style="display: flex;">


			<!-- Right content -->
			<div style="flex: 1;">
				<h3>بيانات الطلب</h3>
				<form action="#">
					<p class="label" style="margin-top: 10px;">الاكل</p>
					<input type="text" class="form-control" id="foodd"
						style="margin-top: 10px;">
					<p class="label" style="margin-top: 10px;">الحجم</p>
					<select class="size-select" id="name2" dir="rtl"
						style="margin-right: -10px; margin-top: 10px; width: 100%;">
						<option selected>الاحجام</option>
						<option value="1">صغير</option>
						<option value="2">وسط</option>
						<option value="3">كبير</option>
						<option value="4">عائلى</option>
					</select>

					<p class="label" style="margin-top: 10px;">العدد</p>
					<input type="number" class="form-control" style="margin-top: 10px;">

					<p class="label" style="margin-top: 10px;">تعليق على الطلب</p>
					<textarea style="margin-top: 10px;" class="form-control">
						</textarea>
					<button type="button" class="btn btn-secondary"
						style="margin-left: 10px;" data-dismiss="modal">الغاء</button>
					<button type="button" class="btn btn-primary" id="okModal"
						style="margin-left: 10px;">موافق</button>
				</form>



			</div>

			<!-- Left content -->
			<div style="flex: 1;">

				<th:block th:each="category : ${listCategory}">
					<button class="btn" action="#" th:id="${category.id}"
						th:text="${category.name}" />
				</th:block>
				<br>

				<div id="menuDiv"></div>

			</div>

		</div>
	</div>
	<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"></h5>

				</div>
				<div class="modal-body"></div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
</body>
</html>