<html dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>امانة جدة</title>
<link rel="stylesheet" href="resources\css\bootstrap.min.css"
	type="text/css" />
<link href="resources\css\styles.css" rel="stylesheet" type="text/css">
<script src="resources\js\jQuery.js"></script>
<script src="resources\js\jQuery-table.js"></script>
<script src="resources\js\scripts.js"></script>
<script src="https:/kit.fontawesome.com/868b4e0b54.js"
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
	$(document)
			.ready(
					function() {
						$('.btn')
								.click(
										function() {
											var catId = $(this).attr("id");

											$
													.ajax({
														type : 'GET',
														url : '/getMenuByCategoryId/'
																+ catId,
														success : function(
																result) {
															var res = JSON
																	.parse(result);
															var s = '';
															for (var i = 0; i < res.length; i++) {
																s += " <button class=\"btnfood\" action=\"#\" id=\""+res[i].id+"\" >"
																		+ res[i].name
																		+ "</button> ";

															}

															$('#menuDiv').html(
																	s);
														}
													});

										});
					});
	$(document).ready(function() {
		$('.btnfood').click(function() {
			var foodmenuId = $(this).attr("id");
			var foodmenuName = $(this).attr("value");
			$("#foodName").val(foodmenuName);
			$("#foodMenuId").val(foodmenuId);

		});
	});
</script>
</head>
<body class="indexBody">


	<!-- header -->

	<nav class="mainHeader">

		<div id="logoBG">
			<img src="resources/images/Rectangle1.png" />
		</div>
		<div id="logo">
			<img src="resources/images/logo.png" />
		</div>
		<div id="systemnamebg_0">
			<p class="systemTitle">دوق واحكم بنفسك</p>
		</div>

	</nav>


	<!-- center block -->

	<div id="centerblock">

		<div style="display: flex;">
			<!-- Right content -->
			<div style="flex: 1;">
				<h3>بيانات الطلب</h3>
				<form action="#" th:action="@{/sendNeededDataAndGetPrice}"
					th:object="${FoodItemDataDTO}" method="post">
					<p class="label" style="margin-top: 10px;">الاكل</p>
					<input type="text" class="form-control" id="foodName"
						style="margin-top: 10px;" name="foodMenuName">
					<p class="label" style="margin-top: 10px;">الحجم</p>
					<select class="size-select" id="name2" dir="rtl"
						style="margin-right: -10px; margin-top: 10px; width: 100%;"
						name="foodSizeId">
						<option value="1">صغير</option>
						<option value="2">وسط</option>
						<option value="3">كبير</option>
						<option value="4">عائلى</option>
					</select>

					<p class="label" style="margin-top: 10px;">العدد</p>
					<input type="number" class="form-control" style="margin-top: 10px;"
						name="qty">

					<p class="label" style="margin-top: 10px;">تعليق على الطلب</p>
					<textarea style="margin-top: 10px;" class="form-control"
						name="comment">
						</textarea>

					<input type="hidden" id="foodMenuId" name="foodMenuId">


					<button type="submit" class="btn btn-primary" id="okModal"
						style="margin-left: 10px;">اضافة</button>
				</form>



			</div>

			<!-- Left content -->
			<div style="flex: 1;">

				<th:block th:each="category : ${listCategory}">
					<button class="btn">
						<a th:href="@{'/getMenuByCategoryId/' + ${category.id}}"
							th:text="${category.name}"></a>
					</button>
				</th:block>
				<br>


				<th:block th:each="menuFood : ${foodMenuList}">
					<button class="btnFood" action="#" th:id="${menuFood.id}"
						th:value="${menuFood.name}" th:text="${menuFood.name}" />
				</th:block>


				<div id="menuDiv"></div>

			</div>

		</div>
		<div class="container pt-4">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>

							<th class="text-center">الاسم</th>
							<th class="text-center">الحجم</th>
							<th class="text-center">الكمية</th>
							<th class="text-center">السعر</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody id="tbody">
						<tr th:each="foodItemOrder :${foodItemOrderList}">
							<td th:text="${foodItemOrder.foodMenuName}"></td>
							<td th:text="${foodItemOrder.size}"></td>
							<td th:text="${foodItemOrder.qty}"></td>
							<td th:text="${foodItemOrder.price}"></td>
							<td>
								<button>
									<a th:href="@{'/removeFoodItemOrder/' + ${foodItemOrder.id}}">
										حذف </a>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="label" style="margin-top: 10px;">السعر الاجمالى</p>
				<p style="margin-top: 10px;" th:text="${totalPrice}"></p>
				<button>
					<a th:href="@{'/calculateFinalPrice'}"> أنهاء الطلب </a>
				</button>
			</div>

		</div>
	</div>

</body>
</html>