<html dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>امانة جدة</title>
<link rel="stylesheet" href="resources\css\bootstrap.min.css"
	type="text/css" />
<link href="resources\css\styles.css" rel="stylesheet" type="text/css">
<script src="resources\js\jQuery.js"></script>
<script src="resources\js\jQuery-table.js"></script>
<script src="resources\js\scripts.js"></script>
<script src="https:/kit.fontawesome.com/868b4e0b54.js"
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
	$(document)
			.ready(
					function() {
						$('.btn')
								.click(
										function() {
											var catId = $(this).attr("id");

											$
													.ajax({
														type : 'GET',
														url : '/getMenuByCategoryId/'
																+ catId,
														success : function(
																result) {
															var res = JSON
																	.parse(result);
															var s = '';
															for (var i = 0; i < res.length; i++) {
																s += " <button class=\" btnfood\" action=\"#\" id=\""+res[i].id+"\" >"
																		+ res[i].name
																		+ "</button> ";

															}

															$('#menuDiv').html(
																	s);
														}
													});

										});
					});
	$(document).ready(function() {
		$('.btnfood').click(function() {
			var foodmenuId = $(this).attr("id");
			var foodmenuName = $(this).attr("value");
			$("#foodName").val(foodmenuName);
			$("#foodMenuId").val(foodmenuId);

		});
	});
</script>
</head>
<body class="indexBody">


	<!-- header -->

	<nav class="mainHeader">

		<div id="logoBG">
			<img src="resources/images/Rectangle1.png" />
		</div>
		<div id="logo">
			<img src="resources/images/logo.png" />
		</div>
		<div id="systemnamebg_0">
			<p class="systemTitle">دوق واحكم بنفسك</p>
		</div>

	</nav>


	<!-- center block -->
	<input type="hidden" id="catId" />
	<input type="hidden" id="menuId" />
	<input type="hidden" id="sizeId" />

	<input type="hidden" id="catId" />
	<input type="hidden" id="menuId" />
	<input type="hidden" id="sizeId" />

	<div id="centerblock">
		<div class="container-fluid">
			<div class="row" dir="rtl" id="fieldsForm">
				<div class="col-md-6 lineDiv">
					<div class="row" style="border-bottom: double;" dir="rtl">
						<th:block th:each="category : ${listCategory}">
							<button class="btn"
								style="width: 30%; margin-right: 10px; margin-top: 5px">
								<a th:href="@{'/getMenuByCategoryId/' + ${category.id}}"
									th:text="${category.name}"></a>
							</button>

						</th:block>
					</div>
					<br>

					<div class="row" dir="rtl" id="fieldsForm">

						<th:block th:each="menuFood : ${foodMenuList}">
							<button class="btn btnFood btn-primary"
								style="width: 30%; margin-right: 5px; margin-top: 5px"
								action="#" th:id="${menuFood.id}" th:value="${menuFood.name}"
								th:text="${menuFood.name}" />

						</th:block>
					</div>
				</div>
				<div class="col-md-6 lineDiv">
					<form action="#" th:action="@{/sendNeededDataAndGetPrice}"
						th:object="${FoodItemDataDTO}" method="post">
						<input type="text" class="form-control" id="foodName"
							disabled="disabled" style="margin-top: 10px;" name=> <select
							class="size-select" id="name2" dir="rtl"
							style="margin-right: -10px; margin-top: 10px; width: 100%;"
							name="foodSizeId">
							<option value="1" selected="selected">صغير</option>
							<option value="2">وسط</option>
							<option value="3">كبير</option>
							<option value="4">عائلى</option>
						</select> <input type="number" class="form-control" placeholder="العدد"
							style="margin-top: 10px;" name="qty"> <input type="text"
							style="margin-top: 10px;" class="form-control"
							placeholder="تعليق على الطلب" name="comment"> <input
							type="hidden" id="foodMenuId" name="foodMenuId">
						<button type="submit" class="btn btn-primary" id="okModal"
							style="margin-top: 10px; width: 20%">اضافة</button>
					</form>
				</div>
			</div>
			<div class="row" dir="rtl" id="fieldsForm">
				<table>

					<tr>
						<td>
							<p class="label" style="margin-top: 10px;">السعر الاجمالى</p>
						</td>
						<td>
							<p style="margin-right: 10px;margin-top: 10px;" th:text="${totalPrice}"></p>
						</td>
					</tr>
					<tr>
					</tr>
					<tr>
						<td><button class="btn btn-success">
								<a style="color:white" th:href="@{'/calculateFinalPrice'}"> أنهاء الطلب </a>
							</button></td>
					</tr>
				</table>
			</div>
			<div class="row" dir="rtl" id="fieldsForm">
				<div class="container pt-4">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>

									<th class="text-center">الاسم</th>
									<th class="text-center">الحجم</th>
									<th class="text-center">الكمية</th>
									<th class="text-center">السعر</th>
									<th class="text-center"></th>
								</tr>
							</thead>
							<tbody id="tbody">
								<tr th:each="foodItemOrder :${foodItemOrderList}">
									<td th:text="${foodItemOrder.foodMenuName}"></td>
									<td th:text="${foodItemOrder.size}"></td>
									<td th:text="${foodItemOrder.qty}"></td>
									<td th:text="${foodItemOrder.price}"></td>
									<td>
										<button class="btn btn-danger">
											<a style="color:white" th:href="@{'/removeFoodItemOrder/' + ${foodItemOrder.id}}">
												حذف </a>
										</button>
									</td>
								</tr>
							</tbody>
						</table>

					</div>

				</div>
			</div>


		</div>
	</div>
</body>
</html>