<html dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>امانة جدة</title>
<link rel="stylesheet" href="resources\css\bootstrap.min.css"
	type="text/css" />
<link href="resources\css\styles.css" rel="stylesheet" type="text/css">
<script src="resources\js\jQuery.js"></script>
<script src="resources\js\jQuery-table.js"></script>
<script src="resources\js\scripts.js"></script>
<script src="https:/kit.fontawesome.com/868b4e0b54.js"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="indexBody">


	<!-- header -->

	<nav class="mainHeader">


		<div id="logoBG">
			<img src="resources/images/Rectangle1.png" />
		</div>
		<div id="logo">
		<a th:href="@{'/HomePage'}"> <img src="resources/images/logo.png" /></a>
		</div>
		<div id="systemnamebg_0">
			<p class="systemTitle">دوق واحكم بنفسك</p>
		</div>

	</nav>
	<!-- center block -->

	<div id="centerblock">
		<div class="container-fluid">
			<div class="card" dir="rtl">			
				<form th:action="@{/searchReportDelivery}" th:object="${report}" method="post">
					<div class="card-body">
						<div class="row " dir="rtl" id="fieldsForm">
							<div class="col-md-12">
								<p style="float: right; margin-top: 5px;">اسم الديليفري</p>
								<select class="custom-select" name="deliveryName"
									style="float: right;" dir="rtl">
									<option th:each="deliveryName:${delivery}"
										th:text="${deliveryName.fullName}" />
								</select>
							</div>
						</div>
						<div class="row " dir="rtl" id="fieldsForm">
							<div class="col-md-12">

								<p style="float: right; margin-top: 5px;">من تاريخ</p>
								<input type="date" name="from" class="form-control"
									style="margin-top: 10px; width: 22%">
								<p style="float: right; margin-top: 5px; margin-right: 5px;">الي
									تاريخ</p>
								<input type="date" name="to" class="form-control"
									style="margin-top: 10px; width: 22%">
							</div>
						</div>
						<div class="row " dir="rtl" id="fieldsForm">
							<div class="col-md-12">
								<button type="submit" class="btn mapsBTN">
									بحث <i class="fas"></i>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="card" dir="rtl">
				<div class="card-body">
					<h5 class="card-title" style="text-align: right">نتيجه البحث :</h5>

					<table id="myTable" class="table table-hover" dir="rtl">
						<thead>
							<tr>
								<th scope="col">التسلسل</th>
								<th scope="col">اسم</th>
								<th scope="col">كلمه السر</th>
								<th scope="col">الوظيفه</th>
								<th scope="col">اسم المستخدم</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c :${reportResult}">
								<td th:text="${c.id}">id</td>
								<td th:text="${c.fullName}">name</td>
								<td th:text="${c.password}">password</td>
								<td th:text="${c.roleId}">roleId</td>
								<td th:text="${c.userName}">userName</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>