

<html dir="rtl">
<head>
<title>امانة جدة</title>
<link rel="stylesheet" href="resources\css\bootstrap.min.css"
	type="text/css" />
<link href="resources\css\styles.css" rel="stylesheet" type="text/css">
<script src="resources\js\jQuery.js"></script>
<script src="resources\js\jQuery-table.js"></script>
<script src="resources\js\scripts.js"></script>
<script src="https:/kit.fontawesome.com/868b4e0b54.js"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script> 
    $(document).ready(function () { 
  
      // Denotes total number of rows 
      var rowIdx = 0; 
      var res = {qty: "1", Name : "Kofta" , Price : "20"};
      // jQuery button click event to add a row 
      $('#addBtn').on('click', function () { 
  
        // Adding a row inside the tbody. 
        $('#tbody').append(`<tr id="R${++rowIdx}"> 
             <td class="row-index text-center"> 
             <p>Row ${rowIdx}</p> 
             </td> 
             <td class="text-center"> 
             <p>${res.qty}</p>
             </td> 
             <td class="text-center"> 
             <p>${res.Name}</p>
             </td> 
             <td class="text-center"> 
             <p>${res.Price}</p>
             </td> 
              <td class="text-center"> 
                <button class="btn btn-danger remove"
                  type="button">Remove</button> 
                </td> 
              </tr>`); 
      }); 
  
      // jQuery button click event to remove a row. 
      $('#tbody').on('click', '.remove', function () { 
  
        // Getting all the rows next to the row 
        // containing the clicked button 
        var child = $(this).closest('tr').nextAll(); 
  
        // Iterating across all the rows  
        // obtained to change the index 
        child.each(function () { 
  
          // Getting <tr> id. 
          var id = $(this).attr('id'); 
  
          // Getting the <p> inside the .row-index class. 
          var idx = $(this).children('.row-index').children('p'); 
  
          // Gets the row number from <tr> id. 
          var dig = parseInt(id.substring(1)); 
  
          // Modifying row index. 
          idx.html(`Row ${dig - 1}`); 
  
          // Modifying row id. 
          $(this).attr('id', `R${dig - 1}`); 
        }); 
  
        // Removing the current row. 
        $(this).closest('tr').remove(); 
  
        // Decreasing total number of rows by 1. 
        rowIdx--; 
      }); 
    }); 
  </script>

</head>
<body>
	<div class="container pt-4">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">Row Number</th>
						<th class="text-center">Qty</th>
						<th class="text-center">Name</th>
						<th class="text-center">Price</th>
						<th class="text-center"></th>


					</tr>
				</thead>
				<tbody id="tbody">

				</tbody>
			</table>
		</div>
		<button class="btn btn-md btn-primary" id="addBtn" type="button">
			Add new Row</button>
	</div>

</body>
</html>